<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Server Discovery</title>
    <!--<link href="https://cdn.bootcss.com/zTree.v3/3.5.30/css/awesomeStyle/awesome.min.css" rel="stylesheet">-->
    <link href="https://cdn.bootcss.com/zTree.v3/3.5.30/css/metroStyle/metroStyle.min.css" rel="stylesheet">
    <!--<link href="https://cdn.bootcss.com/zTree.v3/3.5.30/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet">-->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .ztree li span.button.add {
            margin-left: 2px;
            margin-right: -1px;
            background-position: -144px 0;
            vertical-align: top;
            *vertical-align: middle
        }
        #div_show_alert {
            padding: 4px 8px;
            /*margin: 0 5px;*/
        }
    </style>
</head>
<body>
    <header>
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">服务配置发现</h1>
            <p class="lead">公司其他服务资源可以通过该组件认证后获取配置。</p>
        </div>
</div>
    </header>
    <div class="container">
    <!-- Content here -->
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">节点名称</span>
                        </div>
                        <input id="input_node_name" type="text" class="form-control" placeholder="NodeName" aria-label="NodeName" aria-describedby="basic-addon1">
                    </div>
                    <button id="btn_node_add" class="btn btn-primary col-sm-3">添加</button>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="div_show_alert" role="alert">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <ul id="myTree" class="ztree"></ul>
            </div>
            <div class="col-xl-9">
              content
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/zTree.v3/3.5.30/js/jquery.ztree.all.min.js"></script>
    <script src="https://cdn.bootcss.com/zTree.v3/3.5.30/js/jquery.ztree.core.min.js"></script>
    <script src="https://cdn.bootcss.com/zTree.v3/3.5.30/js/jquery.ztree.excheck.min.js"></script>
    <script src="https://cdn.bootcss.com/zTree.v3/3.5.30/js/jquery.ztree.exedit.min.js"></script>
    <script src="https://cdn.bootcss.com/zTree.v3/3.5.30/js/jquery.ztree.exhide.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>


</html>